
:root {
    --vermelho-escuro-sidebar: #a01f1f; 
    --vermelho-claro-hover: #ffffff1a; 
    --branco-texto: #ffffff; 
    --vermelho-ativo: #c74c4c; 

    --sidebar-width-collapsed: 70px; 
    --sidebar-width-expanded: 240px; 
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    display: flex; 
    min-height: 100vh;
}

*/
.content-wrapper {
    flex-grow: 1; 
 
}


.sidebar {

    width: var(--sidebar-width-collapsed); 
    min-width: var(--sidebar-width-collapsed); 
    
    background-color: var(--vermelho-escuro-sidebar);
    height: 100vh; 
    color: var(--branco-texto);
    padding: 20px 0;
    

    transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
    

    overflow-x: hidden;
    white-space: nowrap; 
    position: sticky; 
    top: 0;
}


.sidebar:hover {
    width: var(--sidebar-width-expanded); 
    min-width: var(--sidebar-width-expanded); 
}

 
.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px 15px 25px;
    margin-bottom: 20px;

    justify-content: center; 
}

.sidebar:hover .sidebar-header {
    justify-content: flex-start;
}

.sidebar-logo-icon {
    font-size: 39px;
    margin-right: 30px;
}

.sidebar-brand-text {
 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s;
    font-size: 16px;
    font-weight: 600;
}

.sidebar:hover .sidebar-brand-text {
    opacity: 1;
    visibility: visible;
}


.menu-item {
    display: flex;
    align-items: center;
    padding: 19px 15px; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    color: var(--branco-texto);
    
 
    justify-content: center;
}

.sidebar:hover .menu-item {
    justify-content: flex-start;
}


.menu-item:hover:not(.active) {
    background-color: var(--vermelho-claro-hover);
}


.menu-item.active {
    background-color: var(--vermelho-ativo); 
    border-radius: 8px; 
    margin: 0 10px; 
    padding: 12px 15px;
    width: calc(100% - 20px); 
    position: relative; 
}


.menu-icon {
    font-size: 18px;
    margin-right: 0; 
    
    color: var(--branco-texto); 
}

.sidebar:hover .menu-icon {
    margin-right: 10px; 
}

.menu-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s;
    margin-left: 5px; 
}

.sidebar:hover .menu-text {
    opacity: 1;
    visibility: visible;
}


.sidebar-separator {
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    margin: 20px 15px;

    display: block;
}


.menu-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}