.machineIcon {
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cores específicas para cada ícone */
.iconWrench {
  color: #1E9FCE;
}

.iconCrimp {
  color: #c2185b;
}

.iconGerador {
  color: #388e3c;
} 