.machineIcon {
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrench {
  
  background-color: #ff5722; /* Orange */
}

.iconCrimp {
  
  background-color: #2196f3; /* Blue */
}

.iconGerador {
  background-color: #4caf50; /* Green */
}

.iconTreinamento {
 
  background-color: #9c27b0; /* Purple */
}

.iconManutencao {
  background-color: #ff9800; /* Amber */
}
